imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }

# Put parameters here that don't need to change on each machine where the app is deployed
# http://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration

framework:
    esi:             ~
    translator:      { fallbacks: ["%locale%"] }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    #serializer:      { enable_annotations: true }
    templating: { engines: ['twig'], assets_version: v3 }
    default_locale:  "%locale%"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:
        # handler_id set to null will use default session handler from php.ini
        handler_id:  ~
    fragments:       ~
    http_method_override: true

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"

fos_user:
    db_driver: orm
    firewall_name: main
    user_class: AppBundle\Entity\User
    from_email:
        address: ansitun@gmail.com
        sender_name: Tracar
    registration:
        confirmation:
            enabled: true
#    resetting:
#        form:
#            type: tp_user_resetting
#    service:
#        mailer: tp_mailer

ibrows_sonata_translation:
    defaultDomain: messages
    editable:
        mode: inline
        type: textarea
        emptytext: Empty
        #placement: top
        # Mode of editable, can be popup or inline
        # Type of input. Can be text|textarea|select|date|checklist and more
        # text to display on empty translations
        # ignored for inline mode
        
lexik_translation:
    fallback_locale: en      
    managed_locales: [en,ne,de]    
    base_layout: "LexikTranslationBundle::layout.html.twig"
    grid_input_type: text       
    grid_toggle_similar: false
    use_yml_tree: false
    resources_registration:
        type:                 all  
        managed_locales_only: true
    auto_cache_clean: true
    auto_cache_clean_interval: 10
    dev_tools:
        enable: false
        create_missing: false
        # (required) default locale to use
        # (required) locales that the bundle have to manage
        # text|textarea
        # all | files | database

# Doctrine Configuration
doctrine:
    dbal:
        driver:   pdo_mysql
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8
        # if using pdo_sqlite as your database driver:
        #   1. add the path in parameters.yml
        #     e.g. database_path: "%kernel.root_dir%/data/data.db3"
        #   2. Uncomment database_path in parameters.yml.dist
        #   3. Uncomment next line:
        #     path:     "%database_path%"

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true

# Swiftmailer Configuration
swiftmailer:
    transport: "%mailer_transport%"
    host:      "%mailer_host%"
    username:  "%mailer_user%"
    password:  "%mailer_password%"
    spool:     { type: memory }

# Assetic Configuration
assetic:
    debug:          "%kernel.debug%"
    use_controller: false
    bundles:        ["AppBundle"]
    filters:
        cssrewrite: ~
    
# Sonata Block Bundle Configuration
sonata_block:
    default_contexts: [cms]
    blocks:
        # Enable the SonataAdminBundle block
        sonata.admin.block.admin_list:
            contexts:   [admin]
        
sonata_admin:
    title: ME
#    title_logo: bundles/app/images/logo.png
    templates:
        edit: AppBundle:Admin:edit.html.twig
        user_block: AppBundle:Admin:user_block.html.twig
        layout: AppBundle:Admin:standard_layout.html.twig
    dashboard:
        groups:
            group.translation:
                label: Translation
                items: ~ 
        blocks:
            - { position: left, type: sonata.admin.block.admin_list }
            
    security:
        handler: sonata.admin.security.handler.role
        information:
            GUEST:    [VIEW, LIST]
            STAFF:    [EDIT, LIST, CREATE]
            EDITOR:   [OPERATOR, EXPORT]
            ADMIN:    [MASTER]
        # permissions not related to an object instance and also to be available when objects do not exist
        # the DELETE admin permission means the user is allowed to batch delete objects
        admin_permissions: [CREATE, LIST, DELETE, UNDELETE, EXPORT, OPERATOR, MASTER]
        # permission related to the objects
        object_permissions: [VIEW, EDIT, DELETE, UNDELETE, OPERATOR, MASTER, OWNER]
        
sonata_core:
    form_type: horizontal
    flashmessage:
        error:
            css_class: danger
            types:
                - { type: sonata_custom_error, domain: AppBundle }