{% block user_block %}
    <div style="margin: 10px; padding-left: 60px">
    {% if app.user %}
        <div class="row">
        {{ app.user }}
        - <a style="color:blue; font-weight: bolder" href="{{ url('fos_user_security_logout') }}">Logout</a>
        </div>
    {% endif %}
    </div>
{% endblock %}
